@charset "euc-kr";

	
.main {width:770px;margin-left:20px;}
	
.main .title {padding-bottom:18px;}

/*table style*/

.s1 {background-color:#F7F7F7; color:#666666; height:26px; font-weight:bold; text-align:center; padding-top:3px;}
.s1Left {background-color:#F7F7F7; color:#666666; height:24px; font-weight:bold; padding-top:3px; padding-left:20px;}
.s2 {color:#666666; padding-top:3px; padding-left:5px;}
.s2Center {color:#666666; padding-top:3px; padding-bottom:3px; text-align:center;}
.s2Right {color:#666666; padding-top:3px; padding-bottom:3px; padding-right:3px; text-align:right;}
.sBar {background-color:#E6E6E6; width:1px;}

.tbg2 {background-color:#50a1f0; height:2px;}
.tbg1 {background-color:#50a1f0; height:2px;}
.lbg {background-color:#50a1f0; width:2px;}
.lbg2 {background-color:#50a1f0; width:2px;}
.cbg {background-color:#ddf0ff; height:30px; border-bottom:solid 1px #D6D6D6;}
.tbg {background-color:#50a1f0;}


.sBg {background-color:#D6D6D6; width:1px; overflow:visible}
.sBg3 {background-color:#84A76A; width:1px; overflow:visible}


.lbg3 {background-color:#D6D6D6; height:1px;}
/*tr cover style*/ .tbg3 {background-color:#F8F8F8;}
.t1 {color:#000; font-weight:bold; text-align:center; padding-top:3px;padding-bottom:2px;}
.t1left {background-color:#F7FFE8; color:#366631; padding-top:3px;padding-bottom:2px;padding-left:20px;}
.t2 {color:#555555; padding-top:3px; padding-bottom:2px; text-align:center; height:19px; }
.t2P {padding:5px 5px 5px 5px;}
.t3 {color:#555555; padding-top:3px; padding-bottom:2px; height:19px; }
.t4 {color:#555555; padding-top:3px; padding-bottom:2px; text-align:right; height:19px; }
.t1Sub {color:#174500; font-weight:bold; text-align:center; padding-top:3px;padding-bottom:2px;background-color:#C8DCB9;}
.t1Line {color:#000; font-weight:bold; text-align:center; padding-top:3px;padding-bottom:2px; border-right:1px solid #D6D6D6;}
.t2Line {color:#555555; padding-top:3px; padding-bottom:2px; text-align:center; height:19px; border-bottom:1px solid #D6D6D6; border-right:1px solid #D6D6D6;}
.t3Line {color:#555555; padding-top:3px; padding-bottom:2px; height:19px; border-bottom:1px solid #D6D6D6; border-right:1px solid #D6D6D6;}
.t4Line {color:#555555; padding-top:3px; padding-bottom:2px; text-align:right; height:19px; border-bottom:1px solid #D6D6D6; border-right:1px solid #D6D6D6;}

.lbg5 {background-color:#84A76A; height:1px;}

.t2Red {color:#B759C8; padding-top:3px; padding-bottom:2px; text-align:center; font-weight:bold;}
.t2Bg {background-color:#FFF0D6; color:#333; padding-top:3px; padding-bottom:2px; text-align:center; height:19px;}
.t2BgRed {background-color:#FFF0D6; color:#A63300; font-weight:bold; padding-top:3px; padding-bottom:2px; text-align:center;height:19px;}
.t2BgRedR {background-color:#FFF0D6; color:#A63300; font-weight:bold; padding-top:3px; padding-bottom:2px; text-align:right;}
.t2BgRedL {background-color:#FFF0D6; color:#A63300; font-weight:bold; padding-top:3px; padding-bottom:2px;}
.t2BgRedLine {background-color:#FFF0D6; color:#A63300; font-weight:bold; padding-top:3px; padding-bottom:2px; text-align:center;height:19px; border-top:1px solid #D6D6D6; border-right:1px solid #D6D6D6;}


.cbg3 {background-color:#F9F6EB; width:746px; border-top:solid 1px #E7DDBE;}
.sBg2 {background-color:#E7DDBE; width:1px;}
.lbg4 {background-color:#E7DDBE; height:1px;}


/*font color style*/
.lend1{color:#E1007F;}
.lend2{color:#000;}
.group{color:#7D449A;font-weight:bold;}
.red{color:#FF0000;font-weight:bold;}
	
.paging {text-align:center;	color:#555555; height:20px;	}
	
.m1 {background-color:#F3F8FD; color:red; font-weight:bold;	text-align:center; padding-top:3px; padding-bottom:2px;	}

.stitle {color:#000; font-weight:bold; padding-top:3px; height:25px;}



.listBar {scrollbar-face-color:#C1C1C1;
scrollbar-highlight-color: #C1C1C1;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-shadow-color: #FFFFFF;
scrollbar-darkshadow-color: #FFFFFF;
scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #FFFFFF}



/*edit style*/
.s3 {background-color:#FFF; color:#555555; padding-top:3px; padding-bottom:3px; padding-left:5px; padding-right:5px; height:20px;border-bottom:solid 1px #D6D6D6;}
.s3View {background-color:#FFF; color:#555555; padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px; height:200px;border-bottom:solid 1px #D6D6D6;}
.s3none {background-color:#FFF; border-bottom:solid 1px #D6D6D6;}
.cbg4 {background-color:#DDF0FF;}
.t1up {color:#000; font-weight:bold; text-align:center; padding-top:3px;padding-bottom:2px; border-bottom:solid 1px #D6D6D6;border-right:solid 1px #D6D6D6;}
.t1up2 {color:#000; font-weight:bold; text-align:center; padding-top:3px;padding-bottom:2px; border-bottom:solid 1px #D6D6D6;border-right:solid 1px #D6D6D6;border-left:solid 1px #D6D6D6;}
.s1up {background-color:#F3F3F3; color:#555555; height:26px; font-weight:bold; text-align:center; padding-top:3px;}
.s3Center{background-color:#FFF; color:#555555; padding-top:3px; padding-bottom:3px; height:20px;border-bottom:solid 1px #D6D6D6; text-align:center;}



/*submenu style*/

.leftBg {background-color:#E8E8E8;}
.leftBg2 {background-color:#FE7E19; height:2px;}
.leftBg3 {background-color:#E4E4E4; height:1px;}


	
/*date style*/

.t1Sun {background-color:#F7FFE8; color:#D20000; font-weight:bold; text-align:center; padding-top:3px;padding-bottom:2px;}
.t1Mon {background-color:#F7FFE8; color:#000; font-weight:bold; text-align:center; padding-top:3px;padding-bottom:2px;}
.t1None {background-color:#FFFFFF;height:80px;vertical-align:top;}
.date {color:#000; text-align:right; padding-top:3px; padding-bottom:2px; font:11px Tahoma;}
.dateText {color:#333333; padding-top:3px; padding-bottom:2px;font-size:11px;}
.dateTextWate {color:#0008A8; padding-top:3px; padding-bottom:2px;font-size:11px;}
.dateRed {color:red; text-align:right; padding-top:3px; padding-bottom:2px;}
.t1Pink {background-color:#FFF2F2; height:80px; vertical-align:top;}
.t1Blue {background-color:#F2FFFD; height:80px; vertical-align:top;}


/*popup style*/
.p1 {color:#333333; padding-top:3px; font-weight:bold;}
.p2 {color:#333333; padding-top:3px; letter-spacing:-1px;}
.pItem {color:#444444; padding-top:3px; font-weight:bold; text-align:center;}
.pt1 {background-color:#F7FFE8;color:#2E8C24; font-weight:bold; text-align:center; padding-top:3px;padding-bottom:2px;}
.pt3 {background-color:#F7FFE8;color:#666666; text-align:center; padding-top:3px;padding-bottom:2px;font-weight:bold;}
.pt4 {background-color:#F2FDFD;color:#336666; font-weight:bold; text-align:center; padding-top:3px;padding-bottom:2px;}

.pt2 {background-color:#FFF;color:#555555; padding-top:3px; padding-bottom:2px; text-align:center; height:19px;}
.pt2Left {background-color:#FFF;color:#555555; padding-top:3px; padding-bottom:2px; text-align:left;}
.pt2Right {background-color:#FFF;color:#555555; padding-top:3px; padding-bottom:2px; text-align:right;}
.pt2None {background-color:#FFF;}


/*poll style*/
.po1 {color:#2489A2; padding-top:3px; font-weight:bold; padding-bottom:3px;}
.pJoin {color:#000; padding-top:3px; font-weight:bold; text-align:center;border-left:solid 1px #B6CECC;}
.pSubj {color:#555; padding-top:3px; padding-left:30px; background:url(../images/poll/poll_dot.gif) no-repeat 18px 6px;}
.pSubjEx {color:#333; padding-top:3px; padding-left:40px; background:url(../images/poll/poll_dot2.gif) no-repeat 30px 8px;}
.JoinP {color:#DD3737; padding-top:3px; font-weight:bold; text-align:center;}
.JoinP2 {color:#2C45A3; padding-top:3px; font-weight:bold; text-align:center;}
.JoinP3 {color:#7F39A0; padding-top:3px; font-weight:bold; text-align:center;}
.poL {background-color:#DBDBDB; height:1px;}
.poNone {padding-top:10px; padding-bottom:10px;}


/*poll view style*/
.pHead{color:#555; padding:10px;}
.pTitle1 {color:#2489A2; padding-top:3px; padding-left:12px; background:url(../images/poll/view_t_bg.gif)  repeat-y ; font-weight:bold;}
.pTitle2 {color:#404040; padding-top:3px; padding-left:12px; background:url(../images/poll/view_t_bg2.gif) repeat-y ; font-weight:bold;}
.pR{text-align:right; padding-right:3px;}

/*sms style*/
.size{color:#102958; padding-right:15px; text-align:right;}
.pNo{color:#000; font-weight:bold;background-color:#EDEDED;BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #EDEDED 1px solid; BORDER-RIGHT: #EDEDED 1px solid;}
.Message{color:#336; text-align:center;}
.mOver{background-color:#69A4A4; }
.mS:link, .mS:visited { color:#FFF; font-weight:bold; 	text-decoration:none; }
.mS:hover, .mS:active {color:#FAFF73; font-weight:bold; text-decoration:none; }
.mS2:link, .mS2:visited { color:#555; font-weight:bold; 	text-decoration:none; }
.mS2:hover, .mS2:active {color:#000; font-weight:bold; text-decoration:none; }

li.dd{list-style:none outside none;}

/*leftContent*/
#leftContent{float:left; position:relative; width:250px;}
.banner{margin:25px 22px 24px;}
.linkList{margin-left:22px;}
.linkList ul{list-style:none;}
.linkList li{margin-bottom:0px;}

/*main style*/
#mainContent{background:url(../images/left_bg2.jpg) no-repeat scroll 7px 0 transparent; height:100%; widht:740px; position:relative;}

/*mainFlash*/
.mainFlash {position:relative; margin:0px 380px; padding:0; top:15px;}

/*mainContent*/
.bnrLink{position:relative; width:400px; height:95px; padding-top:20px; left:433px;}
.bnrLink ul li{float:left; padding-right:20px;}
.content{height:256px; position:realtive; width:701px; margin-left:10px;}
.content:after{clear:both; content:""; display:block;}
.left_con{float:left; position:absolute; width:404px;}
.tabList{background:url(../images/tabBg.gif) repeat-x scroll 0 22px transparent; height:200px; margin-top:46px; margin-left:26px; padding:0; position:relative; width:365px;}
.tabList ul li{margin-right:1px; float:left;}
.tabList ul li a{display:block; float:left; overflow:hidden;}
.tabList ul ul li a{color:#66666; display:block; float:left; overflow:hidden; white-space:nowrap;}
.tabList a:link, a:visited{color:#66666; text-decoration:none;}
.tabList div.tabMore{position:absolute; right:3px; top:5px;}
.tabList .process01{position:absolute; height:20px; width:365px; left:0; top:23px;}
.process01 ul li{float:left; width:72px;}
.tabList .process02{position:absolute; height:20px; width:365px; left:0; top:23px;}
.process02 ul li{width:365px;}
.tabList .process03{position:absolute; height:20px; width:365px; left:0; top:23px;}
.process03 ul li{float:left; width:30px; margin-right:0;}
.tabContent{left:0; position:absolute; top:50px; height:160px;}
.tabContent ul li{background:url(../images/dot.gif) no-repeat scroll 2px 8px transparent; line-height:20px; width:365px; padding-left:10px;}
.tabContent ul li span{color:#767676; margin-left:15px;}
.tabList .tabcontentBg{background-color:#edf5fe; width:355px;}
.right_con{float:right; position:relative; width:306px; z-index:1000; padding-left:30px; left:26px;}
.tabList01{background:url(../images/tabBg01.gif) repeat-x scroll 0 22px transparent; height:200px; margin-top:46px; padding-bottom:30px; position:relative; width:306px;}
.tabList01 ul li{float:left; margin-right:1px;}
.tabList01 ul li a{display:block; float:left; overflow:hidden;}
.tabList01 ul ul li a{color:#66666; display:block; float:left; overflow:hidden; white-space:nowrap; width:220px;}
.tabList01 a:link, a:visited{color:#66666; overflow:hidden; text-decoration:none;}
.tabList01 div.tabMore{position:absolute; right:3px; top:5px;}
.tabContent01{left:0; position:absolute; top:32px; height:180px;}
.tabContent01 ul li{background:url(../images/dot01.gif) no-repeat scroll 2px 10px transparent; line-height:23px; width:365px; padding-left:10px;}
.tabContent01 ul li span{color:#767676; margin-left:15px;}

/* º≠∫Í∏ﬁ¥∫ */
/* subNavi */
.content div#subNavi, .content div.ccGroup{float:left; overflow:hidden;}
#subNavi .title{padding:0; margin-left:5px; display: block; margin-bottom:0;}
#subNavi ul{position:relative; padding:10px 0 25px 0; list-style:none;}
#subNavi ul a{padding-left:15px; padding-top:10px; display:block; height: 22px; width: 210px; background: url(../images/leftMenuBg.png) no-repeat 0 -104px; text-decoration: none;}
#subNavi ul a.hasChild{background-position:0px 0px;}
#subNavi ul a span{color: #555555; font-weight: bold; font-family: NanumGothicExtraBold; margin-left:10px;}
#subNavi ul ul{display: none;}
#subNavi ul ul a{height: 22px;}
#subNavi .on ul{background: #f4f4f4; padding:10px 0 0 0; border: 1px solid #dfdfdf; border-top: 0; display: block; width: 191px; margin:-3px 10px 5px 11px;}
#subNavi .on a{background-position: 0 -261px;}
#subNavi .on a span{color:#fff; margin-left:10px;}
#subNavi ul li.on a.hasChild{background-position:0px -157px;}
#subNavi ul li.on ul li{background:url(../images/listIcon.gif) no-repeat 7px 4px;}
#subNavi ul li.on ul li a{background: url(../images/leftMenuBg.gif) no-repeat 100px -190px; width: 175px; padding-top: 1px; letter-spacing:-1px;}
#subNavi ul li.on ul li a span{font-family: NanumGothic;}
#subNavi ul li.on ul li.on a span{text-decoration: underline; font-weight: bold; font-family: NanumGothicExtraBold; color: #2569ba;}
#subNavi ul li.on ul li a:hover,#subNavi ul li.on ul li a:focus,#subNavi ul li.on ul li a:active{text-decoration: underline;}
#subNavi ul li.on ul li a.hasChild{background-position:-12px -222px;}
#subNavi ul li.on ul li a.newWindow{background-position:-12px -321px; }
#subNavi .on li{padding-left: 0px;}
#subNavi .on li a{padding:0 0 0 5px; background: none; line-height:100%;}
#subNavi .on li a span{color: #555555; font-weight: normal; font-size: 1em;}
#subNavi .on li a:hover span,#subNavi .on li a:focus span,#subNavi .on li a:active span{ text-decoration: underline; color:#000;}

/* º≠∫Íƒ¡≈Ÿ√˜ */
.ccGroup{background:url(../images/ccGroupBg.gif) no-repeat scroll 0 0px; overflow:hidden; padding:0 20px; position:relative; width:720px;}
h1{height:30px; margin:0 0 0 5px; padding:5px 0 20px 5px; width:720px;}
/* footer */
.footer ul {list-style: none outside none; margin: 0; padding: 1px 0 0;}
.footer ul:after {clear: both; content: ""; display: block;}
.footer li {background: url(/static/site/geonseol/images/lnbLiBg.gif) no-repeat scroll left center transparent; float: left; padding-top: 1px;}
.footer .first {background: none repeat scroll 0 0 transparent;}
.footer a {color: #545454; padding: 10px; text-decoration: none;}
.footer a:hover, .footer a:focus, .footer a:active {text-decoration: underline;}
.footer p.logo {position: relative; top: 15px; left:50px;}
.footer01 address {color: #666666; font-size: 1em; font-style: normal; left: 19px; line-height: 1.3em; position: relative; top: 6px; width: 700px;}
.footer01 p.copyRight {color: #767676; font-size: 1em; left: 20px; position: relative; top: 10px; width: 100%;}

